@model StockProphet_Project.Models.DbCollect

@{
    ViewData["Title"] = "Create";
}

<div class="area-container">
    <div class="manager-modify">
<h1>Create</h1>
<h4>DbCollect</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CID" class="control-label"></label>
                <input asp-for="CID" class="form-control" />
                <span asp-validation-for="CID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PID" class="control-label"></label>
                <input asp-for="PID" class="form-control" />
                <span asp-validation-for="PID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CAccount" class="control-label"></label>
                <input asp-for="CAccount" class="form-control" />
                <span asp-validation-for="CAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CDate" class="control-label"></label>
                <input asp-for="CDate" class="form-control" />
                <span asp-validation-for="CDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="a-style">Back to List</a>
</div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
