html {
    /*overflow:hidden;*/
}
body {
    padding:30px
}
main {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content:center;
}

.hand-ani {
    height:800px;
    width:750px;
    position:absolute;
    bottom:0;
    right:0;
    overflow:hidden;
    z-index:-1;
}
.container {
    max-width: 100% !important;
    display: flex;
    padding: 20px
}

.area-left {
    width:50%;
   height:500px;
    position:relative;
    /*border: 2px solid black;*/

}
.area-right {
    width: 50%;
    height: 200px;
    /*border: 2px solid black;*/
    /*position:relative*/
}
.area-left {
    width: 50%;
    display: flex;
    justify-content: center;
}



.bg-right-hand {
    position: absolute;
    right: -600px;
    bottom: 250px;
}
.bg-right-hand-move {
    animation: righthandmove 1s forwards;
}
@keyframes righthandmove {
    0% {
        right: -600px;
        opacity: 0;
    }

    100% {
        right: -50px;
        opacity: 1;
    }
}
.bg-left-hand {
    position: absolute;
    bottom: -500px;
    right: 200px;

}
.bg-left-hand-move {
    animation: lefthandmove 1s forwards 
}

@keyframes lefthandmove {
    0% {
        bottom: -500px;
        opacity: 0;
    }

    100% {
        bottom: -100px;
        opacity: 1;
    }
}
.bg-water-blue {
    position: absolute;
    right: 200px;
    bottom: 450px;
    pointer-events: none;
    opacity: 0;
}
.bg-water-show {
    animation: bgwatershow 0.5s forwards;
}
@keyframes bgwatershow {
    0% {
        opacity:0;
    }
    100% {
        opacity: 1;
    }
}
/*.bottomArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;*/
/*ll*/
/*width: 100%;
    display: flex;
    flex-direction: row;*/
/*height: calc(65vh - 60px);*/
/*background-color:aqua;
    flex-grow:1;
}*/
.search-hint {
    position: absolute;
    transform: translateY(50px);
}

.bottom-left {
    width: 50%;
}

.bottom-right {
    width: 50%;
}

.SP-ani {
    position: relative;
    right: 3vw;
    float: right;
    width: 40%;
    height: 40%;
}

.btn {
    margin-top: 20px;
}

/*會擋到Session傳值測試 暫時註掉*/
/*#search-box {
    position: absolute;
    top: 25%;
}*/

/*#search {
    border-radius: 100px;
    min-width: 20vw;
    text-indent: 10px;
    line-height: 50px;
    font-size: 20px;
    position:absolute;

    
}
*/
.m-btn {
    display: flex;
    position: relative;
    width: 200px;
    right: -3vw;
    flex-direction: column;
}

.btn-m, .btn-t {
    margin: 20px;
    width: 12vw;
    height: 15vh;
}


.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}


.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #a579ad !important; /*改背景顏色*/
    background: #a579ad !important;
    font-weight: normal;
    color: #ffffff;
}
/*預設cshtml不吃……*/
/*首頁的部分*/
.body {
    /*padding:20px !important;*/
}

.nav-link {
    color: #2e3640 !important;
}

.nav-item::before {
    /*    display: block;
    position: absolute;
    content: "";
    background-color: white;
    width: 100%;
    height: 40px;*/
}

.main-logo {
    width: 10rem;
    cursor: pointer;
    margin-right: 20px;
    transition:all 0.3s;
}

#myRegister {
/*    background-color: #87aeb4;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;*/
}
#myLogin {

}
/*搜尋欄設定*/
#ui-id-1 {
    height: 250px !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

.group {
    display: flex;
    line-height: 28px;
    transform:translateY(100px);
    /*align-items: center;*/
    justify-content:center;
    position: relative;
    max-width: 300px;
}

.input {
    min-width: 35vw;
    height: 50px;
    line-height: 28px;
    padding: 0 1rem;
    width: 100%;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #D9E8D8;
    color: #0d0c22;
    box-shadow: 0 0 5px #C1D9BF, 0 0 0 10px #f5f5f5eb;
    transition: .3s ease;
}

    .input::placeholder {
        color: #777;
    }

.icon {
    position: absolute;
    left: 1rem;
    fill: #777;
    width: 1rem;
    height: 1rem;
}

/**/

.bg-line {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
}

.bg-chart {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}


@media screen and (max-width:1250px) {
    body {
        padding: 20px
    }

    .area-left, .area-right {
        width: 95%;
    }

    .hand-ani {
        transform: translateY(70%);
    }
    .input {
        min-width: 60vw;
    }

}

@media screen and (max-width:700px) {
    .main-logo {
        width: 8rem;
        cursor: pointer;
        margin-right: 0px
    }

}

