/*!!*/
.logo-bar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    /*background-color: #f5f5f5;*/
}

/*#main-logo {
    width: 50%;
    margin-left: 42px;
    cursor: pointer;
}*/


.media-icon {
    width: 300px;
    position: absolute;
    display: flex;
    margin-right: 20px;
    justify-content: end;
    right: 0;
}

    .media-icon .fa-brands {
        font-size: 24px;
        margin-left: 15px;
        margin-right: 15px;
    }

.nav-item {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

#mynavgation {
    display: flex;
    /*justify-content: end;*/
    /*align-content: center;*/
}

.mb-3 {
    margin-bottom: 0 !important;
}

.navbar {
    height: 70px;
}


