
main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.area-container {
    width: 100%;
    /*background-color: #73b5c5;*/
    padding: 50px;
    display: flex;
    justify-content: center;
    /*padding範圍*/
    /*box-shadow: #73b5c5 0px 0px 0px 50px inset;*/
}

.btn-w-hover {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #87aeb4;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #87aeb4;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

    .btn-w-hover:disabled {
        pointer-events: none;
    }

    .btn-w-hover:hover {
        color: #fff;
        background-color: #87aeb4;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }

    .btn-w-hover:active {
        box-shadow: none;
        transform: translateY(0);
    }


.divider-vertical {
    background-color: #2e3640;
    display: inline-block;
    height: 100%;
    margin: 0 14px;
    max-height: 15.8px;
    width: 1px;
    height: 20px;
}

.form-control:focus {
    /*border-color: #87aeb4;*/
    box-shadow:  0 0 8px #87aeb4;
    /*outline: 2px solid #87aeb4;*/
    /*outline-offset: 1px;*/
}

@media screen and (max-width: 576px) {
    .container-fluid {
        background-color: #f5f5f5;
    }
}

