@charset "UTF-8";

.container {
    max-width:100vw !important;
}
/*mainArea是新增的*/
.mainArea {

    display: flex;
    flex-direction: column;
    align-items: center;
/*padding-top: 50px;*/
/*padding-bottom: 50px;*/
}

text {
    font-size: 12px;
}

/* K棒 */
path.candle {
    stroke: #000000;
}

    /* K棒 */
    path.candle.body {
        stroke-width: 0;
    }

    /* 綠K棒 */
    path.candle.up {
        fill: #9dab6c;
        stroke: #9dab6c;
    }

    /* 紅K棒 */
    path.candle.down {
        fill: #b84121;
        stroke: #b84121;
    }


/* --- */


.y.annotation.left path {
    fill: #00AA00;
}

.y.annotation.right path {
    fill: #FF0000;
}

.x.annotation path {
    fill: #DDD80E;
}

.ma-5 path.line {
    stroke: #1f77b4;
    fill: none;
    stroke-width: 2;
}

.ma-30 path.line {
    stroke: #FF8000;
    fill: none;
    stroke-width: 2;
}

/* 十字線 */
.crosshair {
    cursor: crosshair;
}

    /* 十字線 */
    .crosshair path.wire {
        stroke: #7B7B7B;
        /* 虛線 */
        stroke-dasharray: 1, 1;
    }

    /* 十字線左右顯示的文字底色? */
    .crosshair .axisannotation path {
        fill: #DDDDDD;
    }

/* 成交量 */
path.volume {
    /*    opacity: 0.8;*/
    fill: #DDDDDD;
}

    /* 成交量顏色 */
    path.volume.up {
        fill: #00AA00;
    }

    /* 成交量顏色 */
    path.volume.down {
        fill: #FF0000;
    }

/* ------MACD------ */
.crosshairMacd {
    cursor: crosshair;
}

    .crosshairMacd path.wire {
        stroke: #7B7B7B;
        /* 虛線 */
        stroke-dasharray: 1, 1;
    }

    .crosshairMacd .axisannotation path {
        fill: #DDDDDD;
    }



path.macd {
    stroke: #0000AA;
}

path.signal {
    stroke: #FF9999;
}

path.zero {
    stroke: #BBBBBB;
    stroke-dasharray: 0;
    stroke-opacity: 0.5;
}

path.difference {
    fill: #BBBBBB;
    opacity: 0.5;
}

/* ------KD線------ */
.pathK {
    fill: none;
    stroke: blue;
    stroke-width: 1;
}

.pathD {
    fill: none;
    stroke: red;
    stroke-width: 1;
}

.hideElem {
    display: none;
}

.svgArea {
    height: 420px;
    display: flex;
    /*align-items: center; /*左右置中*/
    justify-content: center; /*上下置中*/
}

.ctrlBtn {
    display: flex;
    align-items: center;
    height: 35px;
    width: 100%;
    padding-left: 50px;
}

.btnT {
    margin-right: 5px;
    width: 100px;
    height: 30px;
}

.upArea {
    max-width: 1800px;
    display: flex;
    flex-direction: row;
    justify-content: center; /*上下置中*/
    padding-top: 50px;
    flex-wrap: wrap;
}

.upLayer {
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 50px;
    margin-top: 10px;
    border-radius: 25px;
    justify-content: center; /*上下置中*/
    /*align-items: center;*/ /*左右置中*/
}

.downLayer {
    min-width: 600px;
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center; /*上下置中*/
    align-items: center; /*左右置中*/
}

.tb-head {
    min-width: 600px;
    display: flex;
    flex-direction: row;
    height: 50px;
}

.tb-head-content {
    margin-right: 25px;
    font-size: 28px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.border-top-line {
    border-top: 2px solid #bbbdbe;
}

.tb-info {
    /* margin-top: 70px;*/
    width: 100%;
    height: 200px;
}

.st-info {
    position: relative;
    left: 10px;
}

.st-th {
    width: 13%;
    text-align-last: justify;
}

.td-w {
    width: 23%;
    padding-left: 12px;
}

.td-a {
    width: 10%;
    padding-left: 12px;
}

.td-date {
    display: none;
}

.downArea {
    /*    max-width: 1200px;*/
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; /*左右置中*/
    justify-content: center; /*上下置中*/
}

.memberArea {
    position: relative;
    height: 250px;
    width: 420px;
    background-color: blanchedalmond;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.member-btn-g {
    display: flex;
    flex-direction: row;
    justify-content: center; /*上下置中*/
    align-items: center; /*左右置中*/
}
.member-btn-l {
    display: flex;
    flex-direction: column;
        justify-content: center; /*上下置中*/
    align-items: center; /*左右置中*/
}

.member-btn {
    margin-left: 8px;
    margin-right: 8px;
    width: auto;
    height: 50px;
}
/*個股頁要調整距離*/
.prediction-card {
    margin-left:55px;
    margin-right:55px;
}
.predictionArea {
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    /*margin-top: 50px;*/
    margin-bottom: 20px;
    /*    padding-left: 20px;
    padding-right: 20px;*/
}



.collectBtnStart::after {
    position: absolute;
    content: '登入會員後\A就可進行收藏哦！';
    white-space: pre;
    font-size: 20px;
    width: 200px;
    height: 80px;
    background-color: #87aeb4;
    top: -100px;
    left: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: visitorAlert 0.5s;
    pointer-events: none;
    color:white;
    border-radius:15px;
}

.collectBtnStart::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    background-color: #87aeb4;
    top: -45px;
    left: 7px;
    animation: visitorAlert-D 0.3s 0.1s forwards;
    opacity: 0;
    pointer-events: none;
}

@keyframes visitorAlert {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes visitorAlert-D {
    0% {
        transform: translateY(-30px);
        opacity: 0;
        /*transform: rotateZ(45deg);*/
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        transform: rotateZ(45deg);
    }
}

.collectBtnLeave::after {
    animation: visitorAlertLeave 0.3s forwards
}

.collectBtnLeave::before {
    animation: visitorAlert-DLeave 0.3s forwards;
}

@keyframes visitorAlertLeave {
    0% {
        transform: translateY(0);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(30px);
        opacity: 0;
    }
}
 visitorAlert-DLeave {
    0% {
        opacity: 1;
        transform: rotateZ(45deg);
    }

    80% {
        opacity: 0;
        transform: rotateZ(45deg);
    }
}
.middle-area {
    display: flex;
    margin-top: 60px;
    width:100%;
    max-width:1400px;
    position:relative;
    
}
    .middle-area button {
        /*width: 100px;*/
        font-size:18px;
        padding:0;
        height:20px !important;
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 30px;
        min-width: 70px;
        background-color: #f5f5f5;
        outline: 5px solid #f5f5f5;
        border: none;
       
    }
        .middle-area button:hover {
            outline:none; 
            
        }
        .middle-area::after {
            content: "";
            height: 2px;
            background-color: #87aeb4;
            position: absolute;
            top: 50%;
            width: 100%;
            z-index: -5;
        }


    .middle-area::before {
        background-color: black;
        height: 5px;
        width: 100%;
    }


