@charset "UTF-8";

.container {
    max-width:100vw !important;
}
/*mainArea是新增的*/
.mainArea {
    background-color: #f3f2f1;
    display: flex;
    flex-direction: column;
    align-items: center;
/*padding-top: 50px;*/
/*padding-bottom: 50px;*/
}

text {
    font-size: 12px;
}

/* K棒 */
path.candle {
    stroke: #000000;
}

    /* K棒 */
    path.candle.body {
        stroke-width: 0;
    }

    /* 綠K棒 */
    path.candle.up {
        fill: #9dab6c;
        stroke: #9dab6c;
    }

    /* 紅K棒 */
    path.candle.down {
        fill: #b84121;
        stroke: #b84121;
    }

/* 表格內線的顏色 */
.x.axis line {
    fill: none;
    stroke: #edeae6;
}

.y.axis line {
    fill: none;
    stroke: #edeae6;
}

/* --- */
.x.axis.pre path {
    display: none;
}

.y.axis.pre path {
    display: none;
}

.y.annotation.left path {
    fill: #00AA00;
}

.y.annotation.right path {
    fill: #FF0000;
}

.x.annotation path {
    fill: #DDD80E;
}

.ma-5 path.line {
    stroke: #1f77b4;
    fill: none;
    stroke-width: 2;
}

.ma-30 path.line {
    stroke: #FF8000;
    fill: none;
    stroke-width: 2;
}

/* 十字線 */
.crosshair {
    cursor: crosshair;
}

    /* 十字線 */
    .crosshair path.wire {
        stroke: #7B7B7B;
        /* 虛線 */
        stroke-dasharray: 1, 1;
    }

    /* 十字線左右顯示的文字底色? */
    .crosshair .axisannotation path {
        fill: #DDDDDD;
    }

/* 成交量 */
path.volume {
    /*    opacity: 0.8;*/
    fill: #DDDDDD;
}

    /* 成交量顏色 */
    path.volume.up {
        fill: #00AA00;
    }

    /* 成交量顏色 */
    path.volume.down {
        fill: #FF0000;
    }

/* ------MACD------ */
.crosshairMacd {
    cursor: crosshair;
}

    .crosshairMacd path.wire {
        stroke: #7B7B7B;
        /* 虛線 */
        stroke-dasharray: 1, 1;
    }

    .crosshairMacd .axisannotation path {
        fill: #DDDDDD;
    }

path {
    fill: none;
    stroke-width: 1;
}

    path.macd {
        stroke: #0000AA;
    }

    path.signal {
        stroke: #FF9999;
    }

    path.zero {
        stroke: #BBBBBB;
        stroke-dasharray: 0;
        stroke-opacity: 0.5;
    }

    path.difference {
        fill: #BBBBBB;
        opacity: 0.5;
    }

/* ------KD線------ */
.pathK {
    fill: none;
    stroke: blue;
    stroke-width: 1;
}

.pathD {
    fill: none;
    stroke: red;
    stroke-width: 1;
}

.hideElem {
    display: none;
}

.svgArea {
    height: 420px;
    display: flex;
    /*align-items: center; /*左右置中*/
    justify-content: center; /*上下置中*/
}

.ctrlBtn {
    display: flex;
    align-items: center;
    height: 35px;
    width: 100%;
    padding-left: 50px;
}

.btnT {
    margin-right: 5px;
    width: 100px;
    height: 30px;
}

.upArea {
    max-width: 1800px;
    display: flex;
    flex-direction: row;
    justify-content: center; /*上下置中*/
    padding-top: 50px;
    flex-wrap: wrap;
}

.upLayer {
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 50px;
    margin-top: 10px;
    border-radius: 25px;
    justify-content: center; /*上下置中*/
    /*align-items: center;*/ /*左右置中*/
}

.downLayer {
    min-width: 600px;
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center; /*上下置中*/
    align-items: center; /*左右置中*/
}

.tb-head {
    min-width: 600px;
    display: flex;
    flex-direction: row;
    height: 50px;
}

.tb-head-content {
    margin-right: 25px;
    font-size: 28px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.border-top-line {
    border-top: 2px solid #bbbdbe;
}

.tb-info {
    /* margin-top: 70px;*/
    width: 100%;
    height: 200px;
}

.st-info {
    position: relative;
    left: 10px;
}

.st-th {
    width: 13%;
    text-align-last: justify;
}

.td-w {
    width: 23%;
    padding-left: 12px;
}

.td-a {
    width: 10%;
    padding-left: 12px;
}

.td-date {
    display: none;
}

.downArea {
    /*    max-width: 1200px;*/
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; /*左右置中*/
    justify-content: center; /*上下置中*/
}

.memberArea {
    position: relative;
    height: 250px;
    width: 420px;
    background-color: blanchedalmond;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.member-btn-g {
    display: flex;
    flex-direction: row;
    justify-content: center; /*上下置中*/
    align-items: center; /*左右置中*/
}
.member-btn-l {
    display: flex;
    flex-direction: column;
        justify-content: center; /*上下置中*/
    align-items: center; /*左右置中*/
}

.member-btn {
    margin-left: 8px;
    margin-right: 8px;
    width: auto;
    height: 50px;
}

.predictionArea {
    min-width: 600px;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 20px;
}

/*翻轉卡片*/
.prediction-card {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 350px;
    height: 250px;
    cursor: pointer;
    margin: 25px;
    z-index: 1;
}

.card-content {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    z-index: 1;
    animation: cardmoveLeft 0.5s forwards;
}

    .card-content div {
        position: absolute;
        height: 100%;
        width: 100%;
        background: #FFF;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

    }

    .card-content .card-back {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        display: flex;
        justify-content: center; /*上下置中*/
        align-items: center; /*左右置中*/
        
    }

.prediction-card:hover .card-content {
    box-shadow: 0 20px 20px rgba(50, 50, 50, 0.2);
    animation: cardmoveRight 0.5s forwards;
}
@keyframes cardmoveRight {
    0% {
        right:0;
    }
    100% {
        right:-50px;
    }
}

@keyframes cardmoveLeft {
    0% {
        right: -50px;
    }

    100% {
        right: 0;
    }
}

.card-btn {
    display: none;
}

:checked + .card-content {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.prediction-card:hover :checked + .card-content {
    box-shadow: 0 -20px 20px rgba(50, 50, 50, 0.2);
}


.forPre {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-48%, -50%);
}

/*預測股票的那點*/
/*.myCircle:hover {
    stroke: red;
}*/

.card-front {
    padding: 20px;
    z-index: 1;
    right:0px;
}

.pre-state {
    font-size: 32px;
}

.pre-td {
    padding-left: 10px;
}

.prediction-collect {
    position: absolute;
    right: 20px;
    bottom: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 10;
    font-size:30px;
}

.collectBtnStart::after {
    position: absolute;
    content: '登入會員後\A就可進行收藏哦！';
    white-space: pre;
    font-size: 20px;
    width: 200px;
    height: 80px;
    background-color: pink;
    top: -100px;
    left: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: visitorAlert 0.5s;
    pointer-events: none;
}

.collectBtnStart::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    background-color: pink;
    top: -45px;
    left: 7px;
    animation: visitorAlert-D 0.3s 0.1s forwards;
    opacity: 0;
    pointer-events: none;
}

@keyframes visitorAlert {
    0% {
        transform: translateY(30px);
        opacity:0;

    }
    70% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes visitorAlert-D {
    0% {
        transform: translateY(-30px);
        opacity: 0;
        /*transform: rotateZ(45deg);*/
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        transform: rotateZ(45deg);
    }
}

.collectBtnLeave::after {
    animation: visitorAlertLeave 0.3s forwards
}

.collectBtnLeave::before {
    animation: visitorAlert-DLeave 0.3s forwards;
}

@keyframes visitorAlertLeave {
    0% {
        transform: translateY(0);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(30px);
        opacity:0;
    }
}

@keyframes visitorAlert-DLeave {
    0% {
        opacity: 1;
        transform: rotateZ(45deg);
    }
    80% {
        opacity: 0;
        transform: rotateZ(45deg);
    }
}


.preVar {
    position: absolute;
    top: 0px;
    left: 0;
    width: 0px;
    height: 250px;
    background-color: #FCFCFC;
    transition: all 0.5s;
    overflow-x: hidden;
    overflow-y:scroll;
    padding: 5px;
    justify-items: center;
}

    .preVar::-webkit-scrollbar {
        display: none;
    }


.pre-list-btn {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border: none;
    background-color: #f3f2f1;
    text-align: left;
    margin-left: 5px;
    position: relative;
    transition: all 0.2s
}

    .pre-list-btn::before {
        content: '複製成功';
        padding-left: 10px;
        top:0px;
        padding-top: 2px;
        width: 0px;
        position: absolute;
        height: 30px;
        background-color: #cedba0;
        left: -10px;
        overflow: hidden;
        font-size: 16px;
        transition: width 0.5s;
    }
.pre-list-btn-click::before {
    animation: listCopy 1s;
}
@keyframes listCopy {
    0% {
        width: 0px;
    }
    40%,60% {
        width: 100px;
    }
    100% {
        width: 0px;

    }
}
.pre-list-btn-click-again::before {
    content: '已複製過';
}
.pre-list-btn-he {
    background-color: #e3e1de;
}
.pre-list-btn-hl {
    background-color: #f3f2f1;
}
.prediction-card:hover .preVar {
    left: -50px;
    width: 100px;
}


.copyAll {
    background-color: white;
    transform: translateX(1px);
    border-radius: 25px;
    height: 30px;
    width: 90px;
    border: 2px solid #cedba0;
    color: #cedba0;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
    position: relative;
    overflow: hidden;
    transition:all 0.5s;
}
/*全部複製按鈕的hover*/
.copyAll-he {
    color:black;
}
.copyAll-hl {
    color: black;
}

.copyAllCopied::after {
    content: "已複製全部";
    left: 0;
    top: 0;
    background-color: #cedba0;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: copyAllCopiedAni 1s;
    color: white;
    overflow: hidden;
}

@keyframes copyAllCopiedAni {
    0%,100% {      
        transform:translateX(-90px)
    }
    30%,60% {
        transform: translateX(0)
    }

}
