/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.container {
/*    max-width:100vw !important;*/
}
/*mainArea是新增的*/
/*.mainArea {
    background-color: #f3f2f1;
    display: flex;
    flex-direction: column;
    align-items: center;*/
    /*padding-top: 50px;*/
/*padding-bottom: 50px;
}*/

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

/*!!*/
.logo-bar {
    width:100%;
    height:80px;
    display:flex;
    align-items:center;
}
.main-logo {
    margin-left:50px;

}


.media-icon {
    width: 300px;
    position: absolute;
    display: flex;
    margin-right: 20px;
    justify-content: end;
    right: 0;
}
    .media-icon .fa-brands {
        font-size: 24px;
        margin-left: 15px;
        margin-right: 15px;
    }
.nav-item {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

#mynavgation {
    display: flex;
    /*justify-content: end;*/
    /*align-content: center;*/
}

.mb-3 {
    margin-bottom:0 !important;
}

.navbar {
height:70px;
}