<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StockProphet_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StockProphet_Project.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* 其他共用CSS *@
    <link rel="stylesheet" href="~/css/note.css" type="text/css" />
    <link rel="stylesheet" href="~/css/drawCard.css" type="text/css" />
    <link rel="stylesheet" href="~/css/layerStyle.css" type="text/css" />
    @* d3.js及圖表會用的到的 *@
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://techanjs.org/techan.min.js"></script>
    @* 首頁autocomplete要用到的 *@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js" integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script>
    @* lottie動畫 *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.12.2/lottie.min.js" integrity="sha512-jEnuDt6jfecCjthQAJ+ed0MTVA++5ZKmlUcmDGBv2vUI/REn6FuIdixLNnQT+vKusE2hhTk2is3cFvv5wA+Sgg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @* icon *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="logo-bar">
            <img src="~/Logo.svg" id="main-logo" onclick="backHome()" style="height:50%; margin-left:25px;"/>
            <div class="media-icon">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </nav>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style=" background-color:#87aeb4">
            
            <div class="container-fluid" style=" background-color:#87aeb4">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
                    <ul class="navbar-nav" id="mynavgation-left">
                        <li class="nav-item" id="myPre" >
                            <a class="nav-link text-dark text-right " asp-area="" asp-controller="StockModel" asp-action="Predictindex" >我要預測</a>
                        </li>
                        <li class="nav-item" id="myVisitor">
                            <a class="nav-link text-dark text-right" asp-area="" asp-controller="Home" asp-action="Visitor">體驗預測</a>
                        </li>
                        @* 新增會員中心的下拉選單 *@
                        <li class="nav-item dropdown" id="myMember">
                            <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">會員中心</a>
                            <div class="dropdown-menu"></div>
                        </li>
                    </ul>

                    <ul class="navbar-nav" id="mynavgation-right">
                        <li class="nav-item" id="myRegister">
                            <a class="nav-link text-dark text-right" asp-area="" asp-controller="Member" asp-action="Register" id="sign-up">註冊</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @* !! *@
    <div class="note-area">
        <div class="slide-btn"><p>》</p></div>
        <div class="text-content">
            <div class="write-note">
                <textarea class="text-count" onKeyUp="checkMaxInput()" maxlength="100"></textarea>
                <div><p style="display:inline;float:right;">/100</p><p class="count-down" style="float:right;">100</p></div>
            </div>
            <div class="var-tag">
                
            </div>
        </div>
    </div>
    @* !! *@
    <div class="container">
        <main role="main" class="pb-3 mainArea">
            @RenderBody()
        </main>
    </div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2024 - StockProphet_Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	@*<script src="~/lib/jquery/dist/jquery.min.js"></script> *@
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
	<script>
		$(document).ready(function () {

			if (sessionStorage.getItem("LogAccount") == null) {
                $(".note-area").css("display", "none");
                console.log(1)
                
                $('.dropdown-menu').css("display", "none")
                $('#mynavgation-right').prepend(`<li b-1ez45loqxb class="nav-item" id="myLogin"><a class="nav-link text-dark text-right" id="loginlink" href="/Member/Login">登入</a></li>`);
				$('#loginlink').show();
				$('#logoutlink').hide();
                $('.dropdown-toggle').on("click", function () {
                    alert('請先註冊或登入會員');
                })
			} else {
                console.log(2)
                $('.dropdown-menu').append(` <a class="dropdown-item" href="/Member/Index">會員主頁</a>
                                             <a class="dropdown-item" href="/Member/Edit">個人資料修改</a>
                                             <a class="dropdown-item" href="/StockModel/Predictindex">我要預測</a>
                                             <a class="dropdown-item" href="/Member/MyCollect"> 我的收藏頁面</a>
                                             <a class="dropdown-item" href="/Member/MyPredictResult">我的預測結果頁面</a>`)

                $("#mynavgation-right").append(`<li b-1ez45loqxb class="nav-item" id="myLogout"><a class="nav-link text-dark text-right" id="logoutlink" href="/Home/Index">登出</a></li> `)
				$('#loginlink').hide();
				$('#logoutlink').show();
			}
			$("#logoutlink").on("click", function () { 
			
				if (confirm('您確定要登出嗎？')) {
					// 用户点击了确认按钮，执行相关操作
					sessionStorage.clear();
					window.location.href("/Home/Index")
				} else {
					// 用户点击了取消按钮，取消操作
					console.log("2");
				}
			
			})



		})
	</script>
</body>
</html>


<script>
    //預設隱藏
    $(".text-content").hide();
    $(".slide-btn").click(function () {
        if ($(".text-content").is(":hidden")) {
            $(".text-content").show("slide", { direction: "right" }, 500, "ease-in-out");
            $(".slide-btn").css('margin-left', '-40px');

        } else {
            $(".text-content").hide("slide", { direction: "right" }, 500, "ease-in-out");
            $(".slide-btn").css('margin-left', '220px');
        }
        
    });
    
    var textMaxLen = 100;
    function checkMaxInput() {

        sessionStorage.setItem("note", $("textarea").val());
        var c = $("textarea").val().length;
        if (c <= textMaxLen) $(".count-down").text(100-c);
    }

    function tagClick(a) {
        a.remove();
        saveTag();

    }
    var tagforSession = "";
    function saveTag() {
        tagforSession = "";
        var myList = $(".var-tag .var-tag-a");

        if (myList[0] != null) {
            for (var i = 0; i < myList.length; i++) {
                if (i != 0) tagforSession += ",";
                tagforSession += myList[i].innerText;
            }
        }
        sessionStorage.setItem("VarTag", tagforSession);
    }

    //每次進網站都要抓sessio重新塞tag、note、字數
    var varTag = sessionStorage.getItem("VarTag");
    if (varTag != "" && varTag != null) {
        varTag = varTag.split(",");
        for (var i = 0; i < varTag.length; i++) {
            $(".var-tag").append(`<div class="var-tag-a" id="${varTag[i]}" onClick="tagClick(this)">${varTag[i]}</div>`);
        }
    }
    $("textarea").val(sessionStorage.getItem("note"));
    var c = $("textarea").val().length;
    if (c <= textMaxLen) $(".count-down").text(100 - c);


    function backHome() {
        window.location.href = "/Home/Index";
    }
</script>
