@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>忘記密碼頁面</h1>

<div id="ForgotPasswordForm" name="ForgotPasswordForm">
    <label for="Email">請輸入您的E-mail:</label>
    <input type="email" name="MEmail" id="Email" value="" required>
    <button id="GetIdentifyCode" type="button">取得驗證碼</button>
    <div id="WrongEmailMsg">
        <p style="color:red;">查無該組信箱，您尚未成為會員</p>
    </div>
    <div id="Msg">
        <p">請點選取得驗證碼</p>
    </div>
    <br>
    <div id="CheckIdentifyCode">
        <p>請到信箱收取您的驗證碼</p>
        <label>驗證碼:</label><br>
        <input type="text" id="VerifyIdentifyCode">
        <button id="SubmitVerifyIdentifyCode" type="button">確認</button>

    </div>





</div>

<script>
    $('#CheckIdentifyCode').hide();
    $('#WrongEmailMsg').hide();
    $('#Msg').hide();

    //在未輸入正確的會員信箱前，無法點選取得驗證碼的按鈕
    $('#GetIdentifyCode').prop("disabled", true);

    $(function () {
        // var EmailFromClient = $('#Email').val()
        //比對是否有該會員Email
        $('#Email').on("change", function () {
            var EmailFromClient = $('#Email').val()
            console.log(EmailFromClient);
            //輸入E-mail欄位為" "
            if (EmailFromClient == "") {
                $('#WrongEmailMsg').hide();
                $('#GetIdentifyCode').prop("disabled", true);
                console.log("123");
            }
            else {

                $.ajax({
                    url: "/Member/CheckEmail",
                    method: "get",
                    data: { MEmail: EmailFromClient },
                    success: function (e) {
                        console.log(e);
                        if (e) {
                            //修改可以點選取得驗證碼的按鈕
                            $('#GetIdentifyCode').prop("disabled", false);
                            $('#WrongEmailMsg').hide();
                            $('#Msg').show();
                        }
                        else {
                            $('#WrongEmailMsg').show();
                        }
                    }
                })
            }


        })
        //取得驗證碼+系統自動發信
        $('#GetIdentifyCode').on("click", function () {
            var EmailFromClient = $('#Email').val()
            console.log("456");
            $.ajax({
                url: "/member/sendGmail",
                method: "get",
                data: { MEmail: EmailFromClient },
                success: function (e) {
                    $('#Msg').hide();
                    $('#CheckIdentifyCode').show();
                }
            })
        })
        //比對驗證碼+跳轉頁面
        $('#SubmitVerifyIdentifyCode').on("click", function () {
            var VerifyIdentifyCode = $('#VerifyIdentifyCode').val()
            alert("發送驗證碼至後台比對");
            console.log(VerifyIdentifyCode);
            //比對驗證碼正確的話跳轉到密碼修改頁面
            $.ajax({
                url: "/member/CheckVerifyIdentifyCode",
                method: "get",
                data: { VerifyIdentifyCode },
                success: function (e) {
                    if (e) {
                        //跳轉至修改密碼頁面
                        window.location.href = "/Member/RevisePassword";
                    }
                    else {
                        alert("驗證碼輸入錯誤")
                    }
                }

            })
        })

        // ---end of function
    })
</script>