<style>
    /* 忘記密碼 */
    .form-container {
        max-width: 500px;
        background-color: #fff;
        padding: 32px 24px;
        font-size: 14px;
        font-family: inherit;
        color: #212121;
        display: flex;
        flex-direction: column;
        gap: 20px;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
    }

        .form-container button:active {
            scale: 0.95;
        }

        .form-container .logo-container {
            text-align: center;
            font-weight: 600;
            font-size: 18px;
        }

        .form-container .form {
            display: flex;
            flex-direction: column;
        }

        .form-container .form-group {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }

            .form-container .form-group label {
                display: block;
                margin-bottom: 5px;
            }

            .form-container .form-group input {
                width: 100%;
                padding: 12px 16px;
                border-radius: 6px;
                font-family: inherit;
                border: 1px solid #ccc;
            }

                .form-container .form-group input::placeholder {
                    opacity: 0.5;
                }

                .form-container .form-group input:focus {
                    outline: none;
                    border-color: #1778f2;
                }

        .form-container .form-submit-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: inherit;
            color: #fff;
            background-color: #212121;
            border: none;
            width: 100%;
            padding: 12px 16px;
            font-size: inherit;
            gap: 8px;
            margin: 12px 0;
            cursor: pointer;
            border-radius: 6px;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
        }

            .form-container .form-submit-btn:hover {
                background-color: #313131;
            }

        .form-container .link {
            color: #1778f2;
            text-decoration: none;
        }

        .form-container .signup-link {
            align-self: center;
            font-weight: 500;
        }

            .form-container .signup-link .link {
                font-weight: 400;
            }

        .form-container .link:hover {
            text-decoration: underline;
        }


    /* 驗證碼 */
    .form {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        width: 500px;
        background-color: white;
        border-radius: 12px;
        padding: 20px;
    }

    .title {
        font-size: 20px;
        font-weight: bold;
        color: black
    }

    .message {
        color: #a3a3a3;
        font-size: 14px;
        margin-top: 4px;
        text-align: center
    }

    .inputs {
        margin-top: 10px
    }

        .inputs input {
            width: 32px;
            height: 32px;
            text-align: center;
            border: none;
            border-bottom: 1.5px solid #d2d2d2;
            margin: 0 10px;
        }

            .inputs input:focus {
                border-bottom: 1.5px solid royalblue;
                outline: none;
            }

    .action {
        margin-top: 24px;
        padding: 12px 16px;
        border-radius: 8px;
        border: none;
        background-color: royalblue;
        color: white;
        cursor: pointer;
        align-self: end;
    }
</style>

@* <div id="ForgotPasswordForm" name="ForgotPasswordForm"> *@
@* <label for="Email">請輸入您的E-mail:</label>
	<input type="email" name="MEmail" id="Email" value="" required>
	<button id="GetIdentifyCode" type="button">取得驗證碼</button>
	<div id="WrongEmailMsg">
		<p style="color:red;">查無該組信箱，您尚未成為會員</p>
	</div>
	<div id="Msg">
		<p">請點選取得驗證碼</p>
	</div>
	<br>
	<div id="CheckIdentifyCode">
		<p>請到信箱收取您的驗證碼</p> *@
<div class="form-container">
    <div class="logo-container">忘記密碼</div>
    @* <form class="form"> *@
    <div class="form-group">
        <label for="Email">E-mail:</label>
        <input type="email" id="Email" name="MEmail" placeholder="請輸入您的E-mail" required="required">
    </div>
   @*  <div id="Msg">
        <p">請點選取得驗證碼</p>
    </div> *@
    <div id="WrongEmailMsg">
        <p style="color:red;">查無該組信箱，您尚未成為會員</p>
    </div>
    @* <button id="GetIdentifyCode" class="form-submit-btn" type="button" >取得驗證碼</button> *@
    <button id="GetIdentifyCode" class="form-submit-btn" type="button">取得驗證碼</button>

    @* </form> *@
</div>
@* <label>驗證碼:</label><br>
    <input type="text" id="VerifyIdentifyCode">
    <button id="SubmitVerifyIdentifyCode" type="button">確認</button> *@

<div id="CheckIdentifyCode">
    <p class="signup-link">請到信箱收取您的驗證碼</p>   

    <form class="form">
        <div class="title">請輸入驗證碼:</div>
        <div class="inputs">
            <input id="input1" type="text" maxlength="1">
            <input id="input2" type="text" maxlength="1">
            <input id="input3" type="text" maxlength="1">
            <input id="input4" type="text" maxlength="1">
            <input id="input5" type="text" maxlength="1">
            <input id="input6" type="text" maxlength="1">
        </div>
        <button id="SubmitVerifyIdentifyCode" type="button" >確認</button>
    </form>






</div>




<script>
    $('#CheckIdentifyCode').hide();
    $('#WrongEmailMsg').hide();
    $('#Msg').hide();

    

    $(function () {
        //在未輸入正確的會員信箱前，無法點選取得驗證碼的按鈕
        // var button = document.getElementById('GetIdentifyCode');
        // // 將按鈕設定為預設為 disabled
        // button.disabled = true;

        //在未輸入正確的會員信箱前，無法點選取得驗證碼的按鈕
        $('#GetIdentifyCode').prop("disabled", true);


        //比對是否有該會員Email
        $('#Email').on("change", function () {
            var EmailFromClient = $('#Email').val()
            //輸入E-mail欄位為" "
            if (EmailFromClient == ""||null) {
                $('#WrongEmailMsg').show();
                $('#WrongEmailMsg').text('必填');
                $('#GetIdentifyCode').prop("disabled", true);
                // console.log("123");
            }
            else {
               
                $.ajax({
                    url: "/Member/CheckEmail",
                    method: "get",
                    data: { MEmail: EmailFromClient },
                    success: function (e) {
                        console.log(e);
                        if (e) {
                            //使用sessionStorage進行跨頁面傳值
                            //紀錄使用忘記密碼的會員
                            sessionStorage.setItem("FMEmail", EmailFromClient);

                            //修改可以點選取得驗證碼的按鈕
                            $('#GetIdentifyCode').prop("disabled", false);
                            $('#WrongEmailMsg').hide();
                            $('#Msg').show();
                        }
                        else {
                            $('#WrongEmailMsg').show();
                        }
                    }
                })
            }

        })
        var verifyCode = 0;
        //取得驗證碼+系統自動發信
        $('#GetIdentifyCode').on("click", function () {
            var EmailFromClient = $('#Email').val()
            //驗證碼亂數產生一組6個數字
            verifyCode = Math.random().toFixed(6).slice(-6);
            // console.log("456");
            $.ajax({
                url: "/member/sendGmail",
                method: "get",
                data: {
                    MEmail: EmailFromClient,
                    verifyCode: verifyCode
                },
                success: function (e) {
                    $('#Msg').hide();
                    $('#CheckIdentifyCode').show();
                    console.log("verifyCode = " + verifyCode);
                }
            })
        })
        //比對驗證碼+跳轉頁面
        $('#SubmitVerifyIdentifyCode').on("click", function () {
            var input1 = $('#input1').val()
            var input2 = $('#input2').val()
            var input3 = $('#input3').val()
            var input4 = $('#input4').val()
            var input5 = $('#input5').val()
            var input6 = $('#input6').val()
            var VerifyIdentifyCode = `${input1}${input2}${input3}${input4}${input5}${input6}`
            // console.log(VerifyIdentifyCode)
            // 在前台比對驗證碼是否輸入正確
            if (verifyCode != VerifyIdentifyCode) {
                alert("驗證碼錯誤，請重新輸入!");
                return false;
            } else {
                window.location.href = "/Member/RevisePassword";
            }
        })


        //比對驗證碼+跳轉頁面--
        // $('#SubmitVerifyIdentifyCode').on("click", function () {

        // 	// var dataToServer = {
        // 	// 	MEmail: $('#Email').val(),
        // 	// 	VerifyIdentifyCode: $('#VerifyIdentifyCode').val()
        // 	// }
        // 	// VerifyIdentifyCode = $('#VerifyIdentifyCode').val()
        // 	//在前台比對驗證碼是否輸入正確
        // 	if (verifyCode != $('#VerifyIdentifyCode').val()) {
        // 		alert("驗證碼錯誤，請重新輸入!");
        // 		return false;
        // 	} else {
        // 		window.location.href = "/Member/RevisePassword";
        // 	}
        // })

        // ---end of function
    })
</script>