<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

<h1>動畫測試</h1>


<div id="lottie" style="display: none"></div>
<button onclick="playAni()">click me</button>

<script>    

    // 載入 Lottie 動畫-引用json檔?
    var animation = lottie.loadAnimation({
        container: document.getElementById("lottie"), //要動畫的地方
        renderer: "svg",
        loop: false,
        autoplay: false,
        path: "https://lottie.host/0048e6de-acad-4663-94b9-187c2f40255b/9Fk17moKIb.json"
    });

    //畫打勾
    function playAni() {
        document.getElementById("lottie").style.display = "block";
        animation.play();
    }

</script> 