<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
<style>
	#checkEye {
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
	}

</style>
<script src="wwwroot/icon"></script>

@* 占版面1/3 *@
<div class="row">
	<div class="col-md-4">

		<div id="LoginForm">
			<h2>歡迎登入</h2>
			<p id="WrongMsg" style="color:red">帳號/密碼 輸入錯誤</p>
			<div class="form-floating mb-3">				
				<input id="Account" class="form-control" aria-required="true" name="MAccoMnt" value="" />
				<label class="form-label">帳號名稱/Email</label>
			</div>
			<div class="form-floating mb-3">
				<input type="password" id="Password" class="form-control" aria-required="true" name="MPassword" value="" />
				<label class="form-label">密碼</label>					
				<i id="checkEye" class="fas fa-eye-slash"></i>

			</div>
			<div>
				<div id="LoginSubmit" class="w-100 btn btn-lg btn-primary" rel="prev">登入</div>
			</div>
			<div>
				<a href="~/Member/ForgotPassword">忘記密碼?</a>&nbsp&nbsp&nbsp
				<a href="~/Member/Register">我要註冊</a>
			</div>
		</div>

	</div>


</div>

<script>
	$('#WrongMsg').hide();

	$(function () {
		//密碼欄位
		$("#checkEye").click(function () {
			if ($(this).hasClass('fa-eye-slash')) {
				$("#Password").attr('type', 'text');
		}else{				
				$("#Password").attr('type', 'password');
		}
			$(this).toggleClass('fa-eye-slash').toggleClass('fa-eye');
		});

		//按下登入按鈕需驗證身分別
		$('#LoginSubmit').on("click", function () {
			var Account = $('#Account').val()
			console.log(Account);
			if (Account == "") {
				alert("未輸入登入帳號");
			}
			else {
				var dataToServer = {
					MAccoMnt: $('#Account').val(),
					MPassword: $('#Password').val()
				}
				$.ajax({
					url: "/Member/checkLogin",
					method: "get",
					data: dataToServer,
					success: function (e) {
						// alert(e);
						if (e === "會員名稱錯誤" || e === "輸入的密碼不正確") {
							alert(e);
						}
						else {

							var LogMember = JSON.parse(e);

                            //使用sessionStorage進行跨頁面傳值
                            sessionStorage.setItem("LogAccount", LogMember.MaccoMnt);
                            sessionStorage.setItem("LogMemberLevel", LogMember.Mlevel);
                            //供修改會員使用
                            sessionStorage.setItem("LogMemberId", LogMember.Mid);
                            sessionStorage.setItem("LogMemberEmail", LogMember.Memail);
                            sessionStorage.setItem("LogMemberName", LogMember.MtrueName);
                            sessionStorage.setItem("LogMemberBirthday", LogMember.Mbirthday);
                            sessionStorage.setItem("LogMemberGender", LogMember.Mgender);
                            sessionStorage.setItem("LogMemberInvestYear", LogMember.MinvestYear);
                            sessionStorage.setItem("LogMemberfavoriteModel", LogMember.MfavoriteModel);
                            if (sessionStorage.getItem("LogMemberName") == "管理者") {
                                window.location.href = "/DbMembers/Index";
                            } else {

                                try {
                                var para1 = new URL(window.location.href).searchParams.toString().split('&')[0].split('=')[1];
                                var para2 = new URL(window.location.href).searchParams.toString().split('&')[1].split('=')[1];
                            } catch (e) {
                                
                            }
                          
                            if (para1 == null)
                                window.location.href = "/home/index";
                            else
                                window.location.href = "/" + para1 + "/" + para2;

                            }
                        }
                    }
                })

			}
		})
	})

</script>