@{
    string PasswordPattern = @"^(?=.*[!@#$%^&*])(?=.{8,})[a-zA-Z0-9!@#$%^&*]+$";   
}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
<style>
	#checkEye {
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
	}
 </style>

<h1>未登入時的修改密碼頁面</h1>

<div>
    <label for="Password">密碼:</label>
    <input type="password" pattern=@PasswordPattern size="20" minlength="20" name="MPassword1" id="Password1" title="至少包含一個特殊符號，且長度須超過8碼" value="">
    <i id="checkEye" class="fas fa-eye-slash"></i>
    <span id="passwordError"></span>
</div>

<div>
    <label for="Password">請再次輸入密碼:</label>
    <input type="password" pattern=@PasswordPattern size="20" minlength="20" name="MPassword2" id="Password2" title="請再輸入您剛才設定的密碼" value="">    
    @* 再次輸入密碼不同時，顯示提示字 *@
    <div id="pwdnoteword"><p style="color:red; ">您輸入的密碼不相同</p></div>    
</div>

<button id="RevisePassword">修改密碼</button>
<button id="Reset">取消</button>




<script>
    $('#pwdnoteword').hide();

    $(function () {
        //密碼欄位
        $("#checkEye").click(function () {
            if ($(this).hasClass('fa-eye-slash')) {
                $("#Password1").attr('type', 'text');
                $("#Password2").attr('type', 'text');

            } else {
                $("#Password1").attr('type', 'password');
                $("#Password2").attr('type', 'password');
            }
            $(this).toggleClass('fa-eye-slash').toggleClass('fa-eye');
        });

       //+正則
        $('#Password1').on('change', function () {
            var passwordValue = $(this).val();
            var passwordPattern = new RegExp(@Html.Raw(Json.Serialize(PasswordPattern)));

            // 检查输入值是否匹配正则表达式
            if (!passwordPattern.test(passwordValue)) {
                $('#passwordError').text('"需至少包含一個特殊符號，且長度須超過8碼"');
            } else {
                $('#passwordError').text('');
            }
        });
        $('#Password2').on('change', function () {
            var confirmPasswordValue = $(this).val();
            var passwordValue = $('#Password').val();
          
            // 检查两次输入的密码是否一致
            if (confirmPasswordValue !== passwordValue) {
                $('#pwdnoteword').show();
            } else {
                $('#confirmPasswordError').text('');
            }
        });

        //檢查兩次輸入的密碼是否一致
        $('#Password2').on("change", function () {
            var MPassword1 = $('#Password1').val();
            var MPassword2 = $('#Password2').val();
            if (MPassword2 == "") {
                // $('#pwdnoteword').show();
                $('#pwdnoteword').text("必填")
            } else {              
                    $('#pwdnoteword').hide();
                    // console.log("ok");                
            }
        })

        //使用sessionStorage進行跨頁面傳值
        //接收忘記密碼會員的Email
        var memberEmail = sessionStorage.getItem("FMEmail")
        console.log(memberEmail);
        //將修改的密碼更新至DB
        $('#RevisePassword').on("click", function () {
            var dataToServer = {
               ForgotMemberEmail: memberEmail,
                RevisePassword: $('#Password1').val()
            }
            $.ajax({
                url: "/Member/SaveRevisePassword",
                method:"put",
                data: dataToServer,
                success: function (e) {
                    // console.log(e);
                    window.location.href = "/Member/Register";
                },
                error: function (xhr, status, error) {
                    console.error("PUT request failed:", error);
                    // 處理請求失敗的情況，例如顯示錯誤提示給使用者
                }
            })
        })


    })


</script>