@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>未登入時的修改密碼頁面</h1>

<div>
    <label for="Password">密碼:</label>
    <input type="password" pattern="" size="20" minlength="20" name="MPassword1" id="Password1" title="至少包含一個特殊符號，且長度須超過8碼" value="">
</div>

<div>
    <label for="Password">請再次輸入密碼:</label>
    <input type="password" pattern="" size="20" minlength="20" name="MPassword2" id="Password2" title="請再輸入您剛才設定的密碼" value="">
    @* 再次輸入密碼不同時，顯示提示字 *@
    <div id="pwdnoteword"><p style="color:red; ">您輸入的密碼不相同</p></div>
</div>

<button id="RevisePassword">修改密碼</button>



<script>
    $('#pwdnoteword').hide();

    $(function () {
       
        //檢查兩次輸入的密碼是否一致
        $('#Password2').on("change", function () {
            var MPassword1 = $('#Password1').val();
            var MPassword2 = $('#Password2').val();
            if (MPassword1 != MPassword2) {
                $('#pwdnoteword').show();
            }
            else {
                $('#pwdnoteword').hide();
                console.log("ok");
            }
            if (MPassword2 == "") {
                $('#pwdnoteword').hide();
            }
        })

        //使用sessionStorage進行跨頁面傳值
        //接收忘記密碼會員的Email
        var memberEmail = sessionStorage.getItem("FMEmail")
        console.log(memberEmail);
        //將修改的密碼更新至DB
        $('#RevisePassword').on("click", function () {
            var dataToServer = {
               ForgotMemberEmail: memberEmail,
                RevisePassword: $('#Password1').val()
            }
            $.ajax({
                url: "/Member/SaveRevisePassword",
                method:"put",
                data: dataToServer,
                success: function (e) {
                    console.log(e);
                    // window.location.href = "/Member/Index";
                },
                error: function (xhr, status, error) {
                    console.error("PUT request failed:", error);
                    // 處理請求失敗的情況，例如顯示錯誤提示給使用者
                }
            })
        })


    })


</script>