@{
    string PasswordPattern = @"^(?=.*[!@#$%^&*])(?=.{8,})[a-zA-Z0-9!@#$%^&*]+$";   
}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
<style>
    /* 密碼小眼睛 */
	#checkEye {
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
	}

    .form-container {
        width: 100%;
        background-color: #fff;
        padding: 32px 24px;
        font-size: 14px;
        font-family: inherit;
        color: #212121;
        display: flex;
        flex-direction: column;
        gap: 20px;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
    }

        .form-container button:active {
            scale: 0.95;
        }

        .form-container .logo-container {
            text-align: center;
            font-weight: 600;
            font-size: 18px;
        }

        .form-container .form {
            display: flex;
            flex-direction: column;
        }

        .form-container .form-group {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }

            .form-container .form-group label {
                display: block;
                margin-bottom: 5px;
            }

            .form-container .form-group input {
                width: 80%;
                padding: 12px 16px;
                border-radius: 6px;
                font-family: inherit;
                border: 1px solid #ccc;
            }

                .form-container .form-group input::placeholder {
                    opacity: 0.5;
                }

                .form-container .form-group input:focus {
                    outline: none;
                    border-color: #1778f2;
                }

        .form-container .form-submit-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: inherit;
            color: #fff;
            background-color: #212121;
            border: none;
            width: 100%;
            padding: 12px 16px;
            font-size: inherit;
            gap: 8px;
            margin: 12px 0;
            cursor: pointer;
            border-radius: 6px;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
        }

            .form-container .form-submit-btn:hover {
                background-color: #313131;
            }

        .form-container .link {
            color: #1778f2;
            text-decoration: none;
        }

        .form-container .signup-link {
            align-self: center;
            font-weight: 500;
        }

            .form-container .signup-link .link {
                font-weight: 400;
            }

        .form-container .link:hover {
            text-decoration: underline;
        }

    .cancle-btn:hover {
        background-color: transparent;
        color: #87aeb4;
    }

    .cancle-btn{
        width:100%;
    }
    .edit-btn {
        width: 100%;
        background-color: #87aeb4;
        color: white;
    }

</style>
 @* 
<h1>未登入時的修改密碼頁面</h1>

<div>
    <label for="Password">密碼:</label>
    <input class="block w-56 rounded-md py-1.5 px-2 ring-1 ring-inset ring-gray-400 focus:text-gray-800" type="password" pattern=@PasswordPattern size="20" minlength="20" name="MPassword1" id="Password1" title="至少包含一個特殊符號，且長度須超過8碼" value="">
    <i id="checkEye" class="fas fa-eye-slash"></i>
    <span id="passwordError"></span>
</div>

<div>
    <label for="Password">請再次輸入密碼:</label>
    <input class="block w-56 rounded-md py-1.5 px-2 ring-1 ring-inset ring-gray-400 focus:text-gray-800" type="password" pattern=@PasswordPattern size="20" minlength="20" name="MPassword2" id="Password2" title="請再輸入您剛才設定的密碼" value="">
    *@
    @* 再次輸入密碼不同時，顯示提示字 *@
   @*  <div id="pwdnoteword"><p style="color:red; ">您輸入的密碼不相同</p></div>    
</div>

<button id="RevisePassword">修改密碼</button>
<button id="Reset">取消</button> *@

<div class="form-container">
    <div class="logo-container">
        修改密碼
    </div>

    <form class="form">
        <div class="form-group">

            <div class="form-floating mb-3">
                <input class="form-control" type="password" pattern=@PasswordPattern minlength="20" name="MPassword1" id="Password1" title="至少包含一個特殊符號，且長度須超過8碼" value="">
                <label class="form-label" for="Password">輸入新密碼:</label>
                <i id="checkEye" class="fas fa-eye-slash"></i>
                <span id="passwordError"></span>
            </div>
            <div class="form-floating mb-3">                
                <input class="form-control" type="password" pattern=@PasswordPattern minlength="20" name="MPassword2" id="Password2" title="請再輸入您剛才設定的密碼" value="">
                <label class="form-label" for="Password">請再次輸入密碼:</label>
            </div>            
             <div id="pwdnoteword"><p style="color:red; ">您輸入的密碼不相同</p></div>
        </div>
        <div style="display: flex; justify-content: space-between; flex-direction:column">
            <button id="RevisePassword" class="btn-w-hover edit-btn">修改密碼</button>
            <button id="Reset" class="btn-w-hover cancle-btn">取消</button>
       </div>
       

    </form>

   
</div>

 



<script>
    $('#pwdnoteword').hide();

    $(function () {
        //密碼欄位
        $("#checkEye").click(function () {
            if ($(this).hasClass('fa-eye-slash')) {
                $("#Password1").attr('type', 'text');
                $("#Password2").attr('type', 'text');

            } else {
                $("#Password1").attr('type', 'password');
                $("#Password2").attr('type', 'password');
            }
            $(this).toggleClass('fa-eye-slash').toggleClass('fa-eye');
        });

       //+正則
        $('#Password1').on('change', function () {
            var passwordValue = $(this).val();
            var passwordPattern = new RegExp(@Html.Raw(Json.Serialize(PasswordPattern)));

            // 检查输入值是否匹配正则表达式
            if (!passwordPattern.test(passwordValue)) {
                $('#passwordError').text('需至少包含一個特殊符號，且長度須超過8碼');
            } else {
                $('#passwordError').text('');
            }
        });      

        //檢查兩次輸入的密碼是否一致+正則
        $('#Password2').on("change", function () {
            var passwordValue = $(this).val();
            var passwordPattern = new RegExp(@Html.Raw(Json.Serialize(PasswordPattern)));
            var MPassword1 = $('#Password1').val();
            var MPassword2 = $('#Password2').val();

            if (MPassword1 != MPassword2) {
                $('#pwdnoteword').show();
            } else if (!passwordPattern.test(passwordValue)) {
                $('#passwordError').text('需至少包含一個特殊符號，且長度須超過8碼');
            } else if (MPassword2 == "") {
                $('#pwdnoteword').text("必填");
            }
            else {
                $('#pwdnoteword').hide();
            }
        })

        //使用sessionStorage進行跨頁面傳值
        //接收忘記密碼會員的Email
        var memberEmail = sessionStorage.getItem("FMEmail")
        // console.log(memberEmail);

        //將修改的密碼更新至DB
        $('#RevisePassword').on("click", function () {
            var dataToServer = {
               ForgotMemberEmail: memberEmail,
                RevisePassword: $('#Password1').val()
            }

            var passwordValue1 = $('#Password1').val();
            var passwordValue2 = $('#Password2').val();
            var passwordPattern = new RegExp(@Html.Raw(Json.Serialize(PasswordPattern)));

            if (passwordValue1 != passwordValue2) {
                alert("您輸入的密碼不相同");
            } else if (!passwordPattern.test(passwordValue1)) {
                alert("密碼需至少包含一個特殊符號，且長度須超過8碼");
            } else if (!passwordPattern.test(passwordValue2)) {
                alert("密碼需至少包含一個特殊符號，且長度須超過8碼");
            } else {
                $.ajax({
                    url: "/Member/SaveRevisePassword",
                    method: "put",
                    data: dataToServer,
                    success: function (e) {
                        // console.log(e);
                        window.location.href = "/Member/Register";
                    }
                })
            }           
        })

    })


</script>