<h1>動畫測試</h1>

@* <i id="lottie"></i>

<script>
    //畫打勾
    function playAni() {
        document.getElementById("lottie").style.display = "block";
        animation.play();
    }

    // 載入 Lottie 動畫-引用json檔?
    var animation = lottie.loadAnimation({
        container: document.getElementById("lottie"), //要動畫的地方
        renderer: "svg",
        loop: false,
        autoplay: false,
        path: "https://lottie.host/b2f40ebf-57f2-4648-ba0e-24120c2bf4b7/f6JH49VrAH.json", //載下來的動畫json檔
    });
    playAni();
</script> *@