@{
	Layout = "_Layout2";
}

<link rel="stylesheet" href="~/css/stockChartStyle.css" type="text/css" />
@* <h1>123+@ViewBag.test</h1> *@

<div class="upArea">
	<div class="upLayer">
		<div class="ctrlBtn">

			<button class="btnT changeMA" onclick="smaClick(this)">SMA5</button>
			<button class="btnT changeMA" onclick="smaClick(this)">SMA30</button>
		</div>
		<div id="forKcandle" class="svgArea"></div>
	</div>
	<div class="upLayer">
		<div class="ctrlBtn">
			<button id="change" class="btnT">MACD</button>
		</div>
		<div id="forIndicators" class="svgArea"></div>
	</div>
</div>

<div class="downArea">
	<div class="downLayer st-info">
		<div class="tb-head">
			<p class="tb-head-content" id="stocks-id">@ViewBag.stockID</p>
			<p class="tb-head-content td-tittle">tittle</p>
			<p class="tb-head-content td-date">date</p>
		</div>
		<table class="tb-info">
			<tr>
				<th class="st-th">開盤價</th>
				<td class="tb-open tb-content td-w">-</td>
				<th class="st-th">收盤價</th>
				<td class="tb-close tb-content td-w">-</td>
				<th class="st-th">震幅</th>
				<td class="tb-SR tb-content td-a">-</td>
			</tr>
			<tr>
				<th class="st-th">最高價</th>
				<td class="tb-max tb-content td-w">-</td>
				<th class="st-th">最低價</th>
				<td class="tb-min tb-content td-w">-</td>
			</tr>
			<tr>
				<th class="st-th border-top-line">當日交易額</th>
				<td class="tb-TM tb-content td-w border-top-line">-</td>
				<th class="st-th border-top-line">當日交易量</th>
				<td class="tb-TQ tb-content td-w border-top-line">-</td>
				<th class="st-th border-top-line">EPS</th>
				<td class="tb-EPS tb-content td-a border-top-line">-</td>
			</tr>
			<tr>
				<th class="st-th">營業收入</th>
				<td class="tb-BI tb-content td-w">-</td>
			</tr>
		</table>
	</div>
	<div class="downLayer">
		<div class="memberArea">
			<div class="member-pre"></div>
			<div class="member-logout" style="display:none">
				<div class="member-btn-l">
					<div><p style="font-size:28px; text-align:center;">登入會員後</p><p style="font-size:20px; text-align:center;">即可建立屬於自己的預測模型！</p></div>
					<button class="member-btn" id="memberLogging">登入／建立會員</button>
				</div>
			</div>
			<div class="member-logging"  style="display:none">
				<div><p style="font-size:28px; text-align:center;">會員專區</p></div>
				<div class="member-btn-g">
					<button class="member-btn" id="HomeMymodel">我的模型</button>
					<button class="member-btn" id="HomeBuildmodel">建立模型</button>
				</div>
			</div>	
		</div>
	</div>
</div>

<div class="middle-area">
	<p>建立時間</p>
	<p>結案</p>
	<p>未結案</p>
	<p>收藏數</p>
	<p>MSE</p>
</div>

<div class="predictionArea">
@*  	<label class='prediction-card ${index}'>
		<input type='checkbox' class='card-btn' />
		<div class='card-content'>
			
			<div class='card-front'>
				<button class="pre-state">追蹤中</button>

				<table class="table-inside">
					<tr><th class="pre-th">建立者</th><td class="pre-td pre-date">-</td></tr>
					<tr><th class="pre-th">使用模型</th><td class="pre-td pre-date">-</td></tr>
					<tr><th class="pre-th">建立日期</th><td class="pre-td pre-date">2024/03/22</td></tr>
					<tr><th class="pre-th">預測日期</th><td class="pre-td pre-date">2024/04/22</td></tr>
					<tr><th class="pre-th">預測價格</th><td class="pre-td">555</td></tr>
					<tr><th class="pre-th">模型評估值</th><td class="pre-td"></td></tr>
					<tr><th class="pre-th">準確率</th><td class="pre-td pre-date myAR">-</td></tr>
				</table>
				<p class="collectNum">22<p>
				<button class='prediction-collect' id="PID${PID}" onclick="btnTest(this)">♥</button>
			</div>
			<div class='card-back'>
				<div class='forPrediction'>
				</div>
			</div>
		</div>
		<div class="preVar">
			<button class="copyAll" onclick="copyAllList(this)">複製全部</button>
			<button class="pre-list-btn" onclick="copyList(this)">V1</button>
			<button class="pre-list-btn" onclick="copyList(this)">V2</button>
			<button class="pre-list-btn" onclick="copyList(this)">V3</button>
			<button class="pre-list-btn" onclick="copyList(this)">V3</button>
			<button class="pre-list-btn" onclick="copyList(this)">V3</button>
			<button class="pre-list-btn" onclick="copyList(this)">V3</button>
		
		</div>
	</label>   *@

</div>


<script src="~/js/stockChartJS.js"></script>
<script>

	$("#HomeMymodel").on("click", function () {

		if (sessionStorage.getItem("LogAccount") == null) {
			// console.log("login")
			alert("尚未登入，請先登入或註冊")
			window.location.href = "/Member/Login"
		} else {
			window.location.href = "/Member/MyCollect"
		}
	})
	$("#HomeBuildmodel").on("click", function () {

		window.location.href = "/StockModel/predictindex";
	})


</script>